{
    "root": true,
    "plugins": ["jest"],
    "parser": "@babel/eslint-parser",
    "extends": ["airbnb-base", "plugin:jest/recommended", "prettier"],
    "env": {
        "browser": true,
        "amd": true,
        "node": true,
        "jest": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".ts"]
            }
        }
    },
    "rules": {
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "ts": "never"
            }
        ]
    },
    "overrides": [
        {
            "files": ["**/*.ts"],
            "settings": {
                "import/resolver": {
                    "node": {
                        "extensions": [".js", ".ts"]
                    }
                }
            },
            "parser": "@typescript-eslint/parser",
            "parserOptions": {
                "project": "./tsconfig.json"
            },
            "plugins": ["@typescript-eslint"],
            "extends": [
                "airbnb-typescript/base",
                "airbnb-base",
                "plugin:@typescript-eslint/eslint-recommended",
                "plugin:@typescript-eslint/recommended",
                "plugin:import/typescript", // this is needed because airbnb uses eslint-plugin-import
                "plugin:jest/recommended",
                "prettier"
            ],
            "rules": {
                "no-shadow": "off",
                "@typescript-eslint/no-shadow": ["error"],
                "no-unused-vars": "off",
                "@typescript-eslint/no-unused-vars": ["error"],
                "import/extensions": [
                    "error",
                    "ignorePackages",
                    {
                        "js": "never",
                        "ts": "never"
                    }
                ]
            }
        }
    ]
}
